@model IEnumerable<ShopTC.Models.HoaDon>
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Pay</h2>

<h2>Thanh Toan Thanh Cong</h2>

@*
@foreach (var item in Model)
{
    @item.MaUser;
}*@